:root {
				/* Theme color vars */
				--md-sys-color-primary-rgb:0,99,152;
				--md-sys-color-primary:#006398;
				--md-sys-color-on-primary-rgb:255,255,255;
				--md-sys-color-on-primary:#ffffff;
				--md-sys-color-primary-container-rgb:203,229,255;
				--md-sys-color-primary-container:#cbe5ff;
				--md-sys-color-on-primary-container-rgb:0,29,49;
				--md-sys-color-on-primary-container:#001d31;
				--md-sys-color-secondary-rgb:80,96,111;
				--md-sys-color-secondary:#50606f;
				--md-sys-color-on-secondary-rgb:255,255,255;
				--md-sys-color-on-secondary:#ffffff;
				--md-sys-color-secondary-container-rgb:212,228,246;
				--md-sys-color-secondary-container:#d4e4f6;
				--md-sys-color-on-secondary-container-rgb:13,29,42;
				--md-sys-color-on-secondary-container:#0d1d2a;
				--md-sys-color-tertiary-rgb:102,88,122;
				--md-sys-color-tertiary:#66587a;
				--md-sys-color-on-tertiary-rgb:255,255,255;
				--md-sys-color-on-tertiary:#ffffff;
				--md-sys-color-tertiary-container-rgb:238,220,255;
				--md-sys-color-tertiary-container:#eedcff;
				--md-sys-color-on-tertiary-container-rgb:34,21,52;
				--md-sys-color-on-tertiary-container:#221534;
				--md-sys-color-error-rgb:186,27,27;
				--md-sys-color-error:#ba1b1b;
				--md-sys-color-on-error-rgb:255,255,255;
				--md-sys-color-on-error:#ffffff;
				--md-sys-color-error-container-rgb:255,218,212;
				--md-sys-color-error-container:#ffdad4;
				--md-sys-color-on-error-container-rgb:65,0,1;
				--md-sys-color-on-error-container:#410001;
				--md-sys-color-background-rgb:252,252,255;
				--md-sys-color-background:#fcfcff;
				--md-sys-color-on-background-rgb:26,28,30;
				--md-sys-color-on-background:#1a1c1e;
				--md-sys-color-surface-rgb:252,252,255;
				--md-sys-color-surface:#fcfcff;
				--md-sys-color-on-surface-rgb:26,28,30;
				--md-sys-color-on-surface:#1a1c1e;
				--md-sys-color-surface-variant-rgb:222,227,234;
				--md-sys-color-surface-variant:#dee3ea;
				--md-sys-color-on-surface-variant-rgb:65,71,77;
				--md-sys-color-on-surface-variant:#41474d;
				--md-sys-color-outline-rgb:114,119,126;
				--md-sys-color-outline:#72777e;
				--md-sys-color-shadow-rgb:0,0,0;
				--md-sys-color-shadow:#000000;
				--md-sys-color-inverse-surface-rgb:47,48,50;
				--md-sys-color-inverse-surface:#2f3032;
				--md-sys-color-inverse-on-surface-rgb:240,240,243;
				--md-sys-color-inverse-on-surface:#f0f0f3;
				--md-sys-color-inverse-primary-rgb:144,204,255;
				--md-sys-color-inverse-primary:#90ccff;

				/* Icon collection type var */
				--mdc-icons-font-family: "Material Icons Two Tone";

				/* Typography vars */
				--md-sys-typescale-display-large-font: "Space Mono", monospace;
				--md-sys-typescale-display-medium-font: "Space Mono", monospace;
				--md-sys-typescale-display-small-font: "Space Mono", monospace;
				--md-sys-typescale-headline-large-font: "Space Mono", monospace;
				--md-sys-typescale-headline-medium-font: "Space Mono", monospace;
				--md-sys-typescale-headline-small-font: "Space Mono", monospace;
				--md-sys-typescale-title-large-font: "Space Mono", monospace;
				--md-sys-typescale-title-medium-font: "Space Mono", monospace;
				--md-sys-typescale-title-small-font: "Space Mono", monospace;
				--md-sys-typescale-label-large-font: "Space Mono", monospace;
				--md-sys-typescale-label-medium-font: "Space Mono", monospace;
				--md-sys-typescale-label-small-font: "Space Mono", monospace;
				--md-sys-typescale-body-large-font: "Space Mono", monospace;
				--md-sys-typescale-body-medium-font: "Space Mono", monospace;
				--md-sys-typescale-body-small-font: "Space Mono", monospace;

				/* Corner Styles vars */
				--mdc-button-radius: 20px;
				--mdc-card-radius: 12px;
				--mdc-chip-radius: 8px;
				--mdc-data-table-radius: 24px;
				--mdc-image-list-radius: 12px;
				--mdc-nav-drawer-radius: 4px;
				--mdc-text-field-radius: 4px;
			}

			/* Forced light mode */
			body[data-color-scheme='light'] {
				--md-sys-color-primary-rgb:0,99,152;
				--md-sys-color-primary:#006398;
				--md-sys-color-on-primary-rgb:255,255,255;
				--md-sys-color-on-primary:#ffffff;
				--md-sys-color-primary-container-rgb:203,229,255;
				--md-sys-color-primary-container:#cbe5ff;
				--md-sys-color-on-primary-container-rgb:0,29,49;
				--md-sys-color-on-primary-container:#001d31;
				--md-sys-color-secondary-rgb:80,96,111;
				--md-sys-color-secondary:#50606f;
				--md-sys-color-on-secondary-rgb:255,255,255;
				--md-sys-color-on-secondary:#ffffff;
				--md-sys-color-secondary-container-rgb:212,228,246;
				--md-sys-color-secondary-container:#d4e4f6;
				--md-sys-color-on-secondary-container-rgb:13,29,42;
				--md-sys-color-on-secondary-container:#0d1d2a;
				--md-sys-color-tertiary-rgb:102,88,122;
				--md-sys-color-tertiary:#66587a;
				--md-sys-color-on-tertiary-rgb:255,255,255;
				--md-sys-color-on-tertiary:#ffffff;
				--md-sys-color-tertiary-container-rgb:238,220,255;
				--md-sys-color-tertiary-container:#eedcff;
				--md-sys-color-on-tertiary-container-rgb:34,21,52;
				--md-sys-color-on-tertiary-container:#221534;
				--md-sys-color-error-rgb:186,27,27;
				--md-sys-color-error:#ba1b1b;
				--md-sys-color-on-error-rgb:255,255,255;
				--md-sys-color-on-error:#ffffff;
				--md-sys-color-error-container-rgb:255,218,212;
				--md-sys-color-error-container:#ffdad4;
				--md-sys-color-on-error-container-rgb:65,0,1;
				--md-sys-color-on-error-container:#410001;
				--md-sys-color-background-rgb:252,252,255;
				--md-sys-color-background:#fcfcff;
				--md-sys-color-on-background-rgb:26,28,30;
				--md-sys-color-on-background:#1a1c1e;
				--md-sys-color-surface-rgb:252,252,255;
				--md-sys-color-surface:#fcfcff;
				--md-sys-color-on-surface-rgb:26,28,30;
				--md-sys-color-on-surface:#1a1c1e;
				--md-sys-color-surface-variant-rgb:222,227,234;
				--md-sys-color-surface-variant:#dee3ea;
				--md-sys-color-on-surface-variant-rgb:65,71,77;
				--md-sys-color-on-surface-variant:#41474d;
				--md-sys-color-outline-rgb:114,119,126;
				--md-sys-color-outline:#72777e;
				--md-sys-color-shadow-rgb:0,0,0;
				--md-sys-color-shadow:#000000;
				--md-sys-color-inverse-surface-rgb:47,48,50;
				--md-sys-color-inverse-surface:#2f3032;
				--md-sys-color-inverse-on-surface-rgb:240,240,243;
				--md-sys-color-inverse-on-surface:#f0f0f3;
				--md-sys-color-inverse-primary-rgb:144,204,255;
				--md-sys-color-inverse-primary:#90ccff;
			}

			/* Forced dark mode */
			body[data-color-scheme='dark'] {
				--md-sys-color-primary-rgb:144,204,255;
				--md-sys-color-primary:#90ccff;
				--md-sys-color-on-primary-rgb:0,51,81;
				--md-sys-color-on-primary:#003351;
				--md-sys-color-primary-container-rgb:0,75,117;
				--md-sys-color-primary-container:#004b75;
				--md-sys-color-on-primary-container-rgb:203,229,255;
				--md-sys-color-on-primary-container:#cbe5ff;
				--md-sys-color-secondary-rgb:184,200,218;
				--md-sys-color-secondary:#b8c8da;
				--md-sys-color-on-secondary-rgb:35,50,63;
				--md-sys-color-on-secondary:#23323f;
				--md-sys-color-secondary-container-rgb:57,72,86;
				--md-sys-color-secondary-container:#394856;
				--md-sys-color-on-secondary-container-rgb:212,228,246;
				--md-sys-color-on-secondary-container:#d4e4f6;
				--md-sys-color-tertiary-rgb:209,191,231;
				--md-sys-color-tertiary:#d1bfe7;
				--md-sys-color-on-tertiary-rgb:55,42,74;
				--md-sys-color-on-tertiary:#372a4a;
				--md-sys-color-tertiary-container-rgb:78,65,97;
				--md-sys-color-tertiary-container:#4e4161;
				--md-sys-color-on-tertiary-container-rgb:238,220,255;
				--md-sys-color-on-tertiary-container:#eedcff;
				--md-sys-color-error-rgb:255,180,169;
				--md-sys-color-error:#ffb4a9;
				--md-sys-color-on-error-rgb:104,0,3;
				--md-sys-color-on-error:#680003;
				--md-sys-color-error-container-rgb:147,0,6;
				--md-sys-color-error-container:#930006;
				--md-sys-color-on-error-container-rgb:255,180,169;
				--md-sys-color-on-error-container:#ffb4a9;
				--md-sys-color-background-rgb:26,28,30;
				--md-sys-color-background:#1a1c1e;
				--md-sys-color-on-background-rgb:226,226,229;
				--md-sys-color-on-background:#e2e2e5;
				--md-sys-color-surface-rgb:26,28,30;
				--md-sys-color-surface:#1a1c1e;
				--md-sys-color-on-surface-rgb:226,226,229;
				--md-sys-color-on-surface:#e2e2e5;
				--md-sys-color-surface-variant-rgb:65,71,77;
				--md-sys-color-surface-variant:#41474d;
				--md-sys-color-on-surface-variant-rgb:194,199,206;
				--md-sys-color-on-surface-variant:#c2c7ce;
				--md-sys-color-outline-rgb:140,145,152;
				--md-sys-color-outline:#8c9198;
				--md-sys-color-shadow-rgb:0,0,0;
				--md-sys-color-shadow:#000000;
				--md-sys-color-inverse-surface-rgb:226,226,229;
				--md-sys-color-inverse-surface:#e2e2e5;
				--md-sys-color-inverse-on-surface-rgb:47,48,50;
				--md-sys-color-inverse-on-surface:#2f3032;
				--md-sys-color-inverse-primary-rgb:0,99,152;
				--md-sys-color-inverse-primary:#006398;
			}
